@import "~styles/mixins";

.TestimonialCard {
  background-color: white;
  border-radius: 8px;
  border: solid 3px #000000;
  padding: 40px 30px 30px;
  text-align: center;

  img {
    margin-bottom: 20px;
    border-radius: 100%;
    @include border;
  }

  p {
    color: #000;
    margin: 0;
  }
}