@import '~styles/mixins';

.Tooltip {
  .content {
    background-color: $color-dark;
    color: white;
    padding: 6px 10px;
    font-size: 12px;
    text-align: left;
    min-width: 130px;
    border-radius: $border_radius;
  }
}
