@import "~styles/mixins";

.Password {

  .error,
  .warning,
  .success {
    margin-top: 8px;
    font-weight: 500;
  }

  .error {
    color: $color_error;
  }

  .warning {
    color: $color_warning;
  }

  .success {
    color: $color_success
  }

  .hint-color {
    color: $color_secondary;
  }

  .hint {
    text-align: end;
    font-size: 11px;
    margin-top: 3px;
  }

}
