@import "~styles/mixins";

.JobIndividual {
  .loading {
    .article {
      text-align: center;
      min-height: 30vh;

      .image-loading {
        height: 14px;
      }
    }
  }

  .top {
    max-width: $max-size-blog;
    margin: 100px auto;

    .info {
      display: flex;
      align-items: center;

      .category {
        margin-right: 20px;

        @include tablet {
          border-top: none;

          &:first-child {
            border-top: $border_width solid black;
          }
        }
      }
    }

    .title {
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 0.2px;
      line-height: 1.4;
      color: white;
      margin-top: 30px;
    }

    .back {
      .button-back {
        width: auto;
        padding: 0 40px;
        align-items: center;
        display: flex;

        img {
          transform: rotate(180deg);
          margin-right: 10px;
        }

      }

      @include tablet {
        .button-back {
          margin: 0;
          border-bottom: none;
        }
      }
    }
  }

  .content {
    background-color: white;
    padding: 50px 0;
    border-top: $border_width solid black;
    border-bottom: $border_width solid black;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &>* {
      max-width: $max-size-blog;
    }

    .cta {
      margin-top: 50px;
      margin-bottom: 50px;
    }


    .article {
      position: relative;
      width: 100%;
      min-height: 300px;

      .share-container {
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        width: 150px;

        .share-sticky {
          position: sticky;
          top: 20px;
          display: block;
          margin-left: 10px;

          &>* {
            border: $border_width solid black;
            border-top: none;

            &:nth-child(1) {
              border-top: $border_width solid black;
              border-radius: $border_radius $border_radius 0 0;

              &>* {
                &:nth-child(1) {
                  border-radius: $border_radius_less_width 0 0 0;
                }
              }
            }

            &:last-child {
              border-radius: 0 0 $border_radius $border_radius;

              &>* {
                &:nth-child(1) {
                  border-radius: 0 0 0 $border_radius_less_width;
                }
              }
            }
          }
        }

        @media screen and (max-width: 1100px) {
          position: sticky;
          left: 0;
          width: 100%;
          z-index: 10;

          .share-sticky {
            margin-left: 0;
            display: flex;
            flex-wrap: wrap;

            &>* {
              border: $border_width solid black;
              border-left: none;

              &:nth-child(1) {
                border-left: $border_width solid black;
              }
            }
          }
        }
      }

      .image-article {
        border: $border_width solid black;
        width: 100%;
        margin: 50px 0;

        img {
          width: 100%;
          display: block;
          height: 100%;
        }
      }

      ul,
      ol {
        line-height: 2;
      }

      ul {
        list-style-image: url("./assets/oval.svg");
      }

      li {
        font-size: 18px;
        margin-bottom: 20px;
      }

      h2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.3px;
        line-height: 1.3;
        margin-bottom: 25px;
      }

      p {
        color: black;
        letter-spacing: 0.2px;
        line-height: 2;
        text-align: justify;
        font-size: 18px;
        margin-bottom: 25px;
      }

      a {
        font-weight: bold;
        position: relative;
        display: inline-block;
        line-height: 1.5;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          bottom: 4px;
          width: 100%;
          border-bottom: 2px solid;
          border-color: rgba(74, 144, 226, 0.5);
        }

        &:hover {
          color: $color-pink;

          &::before {
            border-color: rgba($color: $color-pink, $alpha: 0.5);
          }
        }
      }
    }
  }

  .related {
    background-color: $color-aqua;
    border-bottom: $border_width solid black;
    padding: 80px 0;

    .related-container {
      max-width: $max-size-blog;
      margin: 0 auto;

      .related-title {
        font-size: 48px;
        font-weight: bold;
        color: white;
        line-height: 1.4;
        letter-spacing: 0.2px;
      }

      .related-post {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &>* {
          width: calc((100% / 2) - 20px);
          margin-bottom: 40px;

          @include phone {
            width: 100%;
          }
        }
      }

      @include tablet {
        padding: 0 20px;
      }
    }
  }

  .apply {
    background-color: $color-pink;
    border-bottom: $border_width solid black;
    padding: 90px 30px;

    .apply-container {
      max-width: $max-size-blog;
      margin: 0 auto;

      .title {
        color: white;
        font-size: 48px;
        text-align: center;
        font-weight: bold;
        line-height: 1.4;
        letter-spacing: 0.3px;
        margin-bottom: 30px;
      }

      .form-container {
        padding: 0 100px;

        @include phone {
          padding: 0;
        }
      }
    }
  }

  @include tablet {
    .top {
      margin: 0;

      .info {
        position: relative;
        top: -3px;
        display: block;

        .date {
          padding: 20px 20px 0;
          margin: 30px 0 0;
        }

        .category {
          margin: 0;
        }
      }

      .title {
        font-size: 24px;
        padding: 20px;
        margin: 0 0 30px;
      }
    }

    .content {
      padding: 20px;

      .article {
        .image-article {
          margin: 20px 0;
        }

        h2 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}